{% extends 'blog/base.html' %}

{% block content %}
<div class="jumbotron">
  <h2>Login Here:</h2>
  <h3>(Please Make Sure That You Are A SuperUser. Check The Site Admin.)</h3>
  {% if form.errors %}
    <h3>Your Id And Password Did'nt Match. Please Try Again</h3>

  {% endif %}
  <form action="{% url 'login' %}" method="POST">
    {{csrf_token}}
      {{ form.as_p }}
      <input type="submit" class="btn btn-primary" value="Login">
      <input type="hidden" name="" value="{{next}}">

  </form>
</div>
{% endblock %}
